html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffce9;
  margin-left: 1%;
  margin-right: 1%;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  min-width: 100%;
  /* align-items: center; */
}

.column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* background-color: white; */
}

.title {
  font-family: "Libre Barcode 39 Text", system-ui;
  font-size: 5em;
}

#statement {
  font-family: "Lexend", system-ui;
  font-size: 6em;
  font-weight: 300;
  margin-top: 3%;
  margin-bottom: 10%;
}

.button-row {
  flex-direction: row;
  align-items: flex-start; /* don't stretch button row the whole height */
  display: flex;
  margin-left: auto;
  display: flex;
  gap: 4rem;
  position: relative;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: black;
  z-index: 1;
  white-space: nowrap;
}

button:hover {
  transform: scale(1.05);
  color: white;
}

.link {
  z-index: 2;
}

#hover-box {
  z-index: 0;
  position: absolute;
  /* background: rgb(255, 0, 0); */
  width: 8em;
  height: 100%;

  pointer-events: none;
  transition: all 0.2s ease;
}

#sticker_text {
  margin-top: auto;
  margin-left: auto;
  padding-top: 20vh;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  margin-bottom: 1%;
}

.page-body {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 0, 0); */
}

.project {
  display: flex;
  /* background-color: aqua; */
  border-top: 2px solid black;
  margin-bottom: 2%;
  min-height: 50vh;
}

.project-column-1 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 20%;
  /* background-color: white; */
}

.project-column-2 {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  /* background-color: white; */
}

.project-name {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
  font-size: 3em;
  margin-top: 2%;
}

.description {
  margin-top: 2%;
  font-family: "Inter", sans-serif;
}

.video-container {
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

.video-container iframe {
  height: 100%;
  width: 100%;
}

@media (max-width: 800px) {
  .button-row {
    display: none;
  }
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
  }
  .project-column-1 {
    width: 100%;
    flex-direction: row;
  }
}
