html,
body {
  margin: 0;
  padding: 0;
  background-color: #fffce9;
  margin-left: 1%;
  margin-right: 1%;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  flex-direction: column;
  /* min-width: 100%; */
  /* align-items: center; */
}

.row {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* background-color: white; */
}

.top-part {
  display: flex;
}

.title {
  font-family: "Libre Barcode 39 Text", system-ui;
  font-size: 5em;
}

#statement {
  font-family: "Lexend", system-ui;
  font-size: 6rem;
  font-weight: 300;
  margin-top: 3%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.button-row {
  flex-direction: row;
  align-items: flex-start; /* don't stretch button row the whole height */
  display: flex;
  margin-left: auto;
  display: flex;
  gap: 4rem;
  position: relative;
  height: 100%;
}

button {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  color: black;
  z-index: 1;
  white-space: nowrap;
}

button:hover {
  transform: scale(1.05);
  color: white;
}

.link {
  z-index: 2;
}

#hover-box {
  z-index: 0;
  position: absolute;
  /* background: rgb(255, 0, 0); */
  width: 8em;
  height: 100%;

  pointer-events: none;
  transition: all 0.2s ease;
}

#sticker_text {
  margin-left: auto;
  padding-top: 10vh;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  letter-spacing: 0.2em;
  margin-bottom: 1%;
}

.page-body {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 0, 0); */
}

.project {
  display: flex;
  /* background-color: aqua; */
  border-top: 2px solid black;
  margin-bottom: 2%;
  min-height: 50vh;
}

.project-column-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: auto;
  min-width: 0;
  /* background-color: white; */
}

.project-column-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  width: auto;
  height: auto;
  /* background-color: white; */
}

.project-name {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
  font-size: 3em;
  margin-top: 2%;
}

.description {
  margin-top: 2%;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.learn-more summary {
  margin-top: 4%;
  cursor: pointer;
  list-style: none;
  font-family: "Lexend";
  font-weight: 700;
}

.learn-more .expanded-content {
  opacity: 0;
  font-family: "Inter", sans-serif;
  transform: translateY(-5px);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.learn-more[open] .expanded-content {
  opacity: 1;
  transform: translateY(0);
}

.video-container {
  height: 100%;
  width: 100%;
  margin-top: 5%;
}

.video-container iframe {
  height: 100%;
  width: 100%;
}

@media (max-width: 950px) {
  .button-row {
    /* display: none; */
    flex-direction: column;
    gap: 0.5rem;
  }

  #hover-box {
    display: none;
  }

  button:hover {
    transform: scale(1.05);
    color: rgb(0, 0, 0);
    font-weight: 600;
  }
}

@media (max-width: 600px) {
  html,
  body {
    margin-left: 2%;
    margin-right: 2%;
  }

  .title {
    font-size: 3.5rem;
  }

  .project {
    flex-direction: column;
    min-height: 10vh;
    margin-bottom: 10%;
  }

  .project-column-1 {
    width: 100%;
    flex-direction: column;
  }

  #statement {
    margin-top: 10%;
    font-size: 3rem;
    margin-bottom: 20%;
  }

  #sticker_text {
    display: none;
  }

  .project-name {
    font-size: 2em;
    margin-right: 5%;
  }

  button {
    font-size: medium;
  }

  .video-container iframe {
    min-height: 25vh;
  }
}
