html, body {
  overflow: hidden;
}

.page-body {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: column;
  align-items: center;
  height: 55dvh;
}

.body-title {
  margin-top: 6vh;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  margin-top: 4dvh;
}

.swiper-pagination-custom {
  padding-top: 2vh;
}

.swiper-pagination-bullets {
  width: auto !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.swiper-button-next, 
.swiper-button-prev {
  color: black !important;
  top: 43% !important;
  position: fixed;
  height: 30px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: black;
  width: 100%;
  margin-top: 15vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
}

.footer-text-container {
  margin-left: 1vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 2.5vw;
}

.footer-text-small {
  color: white;
  margin-top: 1vh;
  font-family: "Inter", sans-serif;
  font-size: 0.6vw;
  letter-spacing: 0.5dvh;
}

@media (max-height: 800px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 50% !important;
  }
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}