html,
body {
  margin: 0;
  padding: 0;
}

.container {
  background-color: transparent;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.box {
  background-color: transparent;
  box-sizing: border-box;
  /* border: 3px solid rgb(255, 255, 255); */
  width: 60vw;
  height: 30vh;

  display: flex;
}

.column {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  /* background-color: rgb(0, 0, 0); */
}

#barcode {
  font-family: "Libre Barcode 128";
  color: white;
  letter-spacing: 0.1vw;
  font-size: 10vh;
  margin-bottom: -0.3em;
}

#check-out {
  /* margin-top: 1rem; */
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 3.5em;
  font-weight: 600;
}

.button-row {
  margin-top: auto;
  /* margin-bottom: 1vh; */
  display: flex;
  gap: 1vw;
  position: relative; /* needed for hover-box to have absolute positioning */
  /* background-color: blue; */
}

button {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  color: white;
  z-index: 1;
}

.link {
  z-index: 2;
}

button:hover {
  transform: scale(1.05);
  color: black;
}

#hover-box {
  z-index: 0;
  position: absolute;
  /* background: rgb(255, 0, 0); */
  width: 7em;
  height: 100%;

  pointer-events: none;
  transition: all 0.2s ease;
}

#column2 {
  /* margin-left: 1vw; */
  border-right: 1px solid white;
}

#initials {
  font-family: "Lexend";
  font-weight: 300;
  font-size: 12em;
  line-height: 0.8;
  align-self: flex-end;
}

#madewith {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 1em;
  align-self: flex-end;
  margin-top: auto;
  margin-bottom: 3%;
  margin-right: 2%;
}

#tag {
  align-self: flex-end;
  width: 30%;
  height: 30%;
  /* margin-top: -0.5vw; */
}

#column3 {
  z-index: 0;
  margin-left: 0.4vw;
  position: relative;
  display: flex;
}

.titles {
  font-family: "Inter", sans-serif;
  font-weight: 200;
  margin-bottom: 1vh;
  font-size: 1.2em;
}

.video-container {
  height: 300px;
  width: 300px;
  position: relative;
}

.video-container video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
}

@media (max-width: 1000px) {
  .box {
    flex-direction: column;
  }

  #barcode {
    font-size: 3em;
  }

  #column2 {
    display: none;
  }

  #column3 {
    display: none;
  }

  .button-row {
    margin-top: 15%;
    flex-direction: column;
    gap: 1em;
  }

  #hover-box {
    display: none;
  }
}
