.container {
  background-color: aqua;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background-color: transparent;
  box-sizing: border-box;
  border: 3px solid rgb(255, 255, 255);
  width: 70vw;
  height: 30vh;

  display: flex;
}

.column {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: rgb(0, 0, 0);
}

#barcode {
  font-family: "Libre Barcode 128";
  color: white;
  letter-spacing: 0.1vw;
  font-size: 10vh;
  margin-bottom: -0.3em;
}

#check-out {
  /* margin-top: 1rem; */
  font-family: "Inter", sans-serif;
  color: white;
  font-size: 3em;
  font-weight: 600;
}

.button-row {
  margin-top: auto;
  /* margin-bottom: 1vh; */
  display: flex;
  gap: 1vw;
  position: relative; /* needed for hover-box to have absolute positioning */
  /* background-color: blue; */
}

button {
  background-color: transparent;
  border: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: white;
  z-index: 1;
}

button:hover {
  transform: scale(1.05);
  color: black;
}

#hover-box {
  z-index: 0;
  position: absolute;
  /* background: rgb(255, 0, 0); */
  width: 6vw;
  height: 100%;

  pointer-events: none;
  transition: all 0.2s ease;
}
