#html, body {
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 100%;
}

#go-back-button {
    font-family: "Inter", sans-serif;
    font-size: clamp(0.3rem, 0.6rem + 0.5vw, 2rem);
    letter-spacing: 0.25rem;
    font-weight: 500;
}

.main-body {
    display: flex;
    flex-direction: column;
    padding-top: 10%;
    min-height: 100vh;
}

.section {
    display: flex;
    flex-direction: row;
}

.project-title {
    font-family: "Inter", sans-serif;
    font-size: clamp(1rem, 3rem + 0.25vw, 2rem);
    letter-spacing: 0.4rem;
    font-weight: 500;
}

.tags-list {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    gap: 0.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: clamp(0.25rem, 0.6rem + 0.3vw, 1rem);
}

.language-tag {
    padding: 1%;
    background-color: black;
    color: white;
}

.software-tag {
    padding: 1%;
    border: 2px solid black;
}

.img-container {
    background-color: gray;
    margin-left: auto;
    width: 50vw;
    height: auto;
    border-radius: 25px;
}

.project-desc {
    padding-top: 50%;
    max-width: 60ch;
    font-family: "Inter", sans-serif;

}

@media (max-width: 950px) {
    .section {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tags-list {
        justify-content: center;
    }

    .img-container {
        height: 20vh;
        width: 80vw;
        margin-left: 0;
    }

    .project-desc {
        padding-top: 5%;
    }
}