html,
body {
  background-color: #fffce9;
}

#statement {
  font-family: "Lexend", system-ui;
  font-size: clamp(3rem, 3rem + 2vw, 6rem);
  font-weight: 300;
  margin-top: 3%;

  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

#sticker_text {
  margin-left: auto;
  padding-top: 10vh;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.4rem, 0.2rem + 0.5vw, 0.8rem);
  letter-spacing: 0.2em;
  margin-bottom: 1%;
}

.page-body {
  display: flex;
  flex-direction: column;
  /* background-color: rgb(255, 0, 0); */
}

.project {
  display: flex;
  /* background-color: aqua; */
  border-top: 2px solid black;
  margin-bottom: 2%;
  min-height: 30vh;
}

.project-column-1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: auto;
  min-width: 0;
  /* background-color: white; */
}

.project-column-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  align-items: center;
  width: auto;
  height: auto;
  justify-content: center;
  /* background-color: white; */
}

.project-name {
  font-family: "Inter", sans-serif;
  letter-spacing: 0.1em;
  font-size: clamp(0.5rem, 1.5rem + 1vw, 3rem);
  margin-top: 2%;
}

.description {
  margin-top: 2%;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.25rem, 1rem, 1.5rem);
}

.learn-more summary {
  margin-top: 4%;
  cursor: pointer;
  list-style: none;
  font-family: "Lexend";
  font-size: clamp(0.5rem, 0.3rem + 0.5vw, 1rem);
  font-weight: 700;
}

.learn-more .expanded-content {
  opacity: 0;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.2rem, 0.3rem + 0.5vw, 1rem);
  transform: translateY(-5px);
  max-width: 75ch;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
}

.learn-more[open] .expanded-content {
  opacity: 1;
  transform: translateY(0);
}

.media-container {
  margin-top: 5%;
  width: 45vw;
  aspect-ratio: 16 / 9;
  max-height: 50vh;
}

.media-container iframe,
.media-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.ref-image-container {
  width: 50%;
  aspect-ratio: 16 / 9;
}

.ref-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 600px) {
  html,
  body {
    margin-left: 2%;
    margin-right: 2%;
  }

  .title {
    font-size: 3.5rem;
  }

  .project {
    flex-direction: column;
    min-height: 10vh;
    margin-bottom: 10%;
  }

  .project-column-1 {
    width: 100%;
    flex-direction: column;
  }

  #statement {
    margin-top: 10%;
    font-size: 3rem;
    margin-bottom: 20%;
  }

  #sticker_text {
    display: none;
  }

  .project-name {
    font-size: 2em;
    margin-right: 5%;
  }

  button {
    font-size: medium;
  }

  .media-container {
    width: 100%;
    height: auto;
  }

  .media-container iframe {
    min-height: 25vh;
  }

  .ref-image-container {
    height: auto;
    width: auto;
  }

  .learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
