html,
body {
  overflow: hidden;
  background-color: #fffce9;
}

.page-body {
  display: flex;
  margin-left: 4%;
  margin-right: 4%;
  flex-direction: column;
  align-items: center;
  /* height: 55dvh; */
}

.body-title {
  margin-top: 6vh;
  font-family: "Inter", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.4rem;
  font-weight: 600;
}

.swiper {
  width: 100%;
  height: 45dvh;
  flex-grow: 1;
  margin-top: 4dvh;
}

.swiper-pagination-custom {
  padding-top: 2vh;
}

.swiper-pagination-bullets {
  width: auto !important;
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: black !important;
  top: 46% !important;
  position: fixed;
  height: 30px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-link {
  display: block;
  width: 100%;
  height: 100%;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-slide img {
  /* display: block; */
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.swiper-slide img:hover {
  filter: grayscale(0%);
}

.fade-mask {
  -webkit-mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 75%, transparent 100%);
}

.project-title {
  width: 100%;
  align-self: last baseline;
  padding-bottom: 5%;
  position: absolute;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.5rem, 0.75rem, 1.5rem);
  color: white;
  z-index: 2;
}

.footer {
  background-color: black;
  width: 100%;
  margin-top: 8vh;
  height: 30vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.footer-text-container {
  margin-left: 1vh;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.5rem, 1rem + 1.5vw, 3rem);
}

.footer-text-small {
  color: white;
  margin-top: 1vh;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.25rem, 0.25rem + 0.5vw, 1rem);
  letter-spacing: 0.5dvh;
}

@media (max-height: 800px) {
  .swiper-button-next,
  .swiper-button-prev {
    top: 50% !important;
  }
}

@media (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}
