html,
body {
    background-color: black;
    /* overflow: hidden; */
}

.title,
button {
    color: white;
}

button:hover {
    color: black !important;
}

.page {
    height: 100vh;
}

.grid-wrapper {
    justify-content: center;
    padding-top: 3%;
}

.grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: [col1-start] 1fr [col2-start] 1fr [col3-start] 1fr;
    grid-auto-rows: minmax(35vh, auto);
    /* grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto; */
}

.box {
    background-color: gray;
}

.a {
    grid-column: col1-start;
    grid-row: 1 / span 2;
}

.b {
    grid-column: col2-start / span 2;
    grid-row: 1
}

.d {
    grid-column: col3-start;
    grid-row: 2 / span 2;
}

.g {
    grid-column: col1-start / col3-start;
    grid-row: 4;
}

.j {
    grid-column: col2-start;
    grid-row: 5 / span 2;
}

.m {
    grid-column: col3-start;
    grid-row: 6 / span 2;
}

.n {
    grid-column: col1-start / col3-start;
    grid-row: 7;
}

@media (max-width: 950px) {
    .grid {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: minmax(30vh, auto);
    }

    .a, .b, .d, .g, .j, .m, .n {
        grid-column: auto;
        grid-row: auto;
    }
}