#html, body {
    margin-left: 2% !important;
    margin-right: 2% !important;
    height: 100%;
    background-color: #fffce9;
}

#go-back-button {
    font-family: "Inter", sans-serif;
    font-size: clamp(0.3rem, 0.6rem + 0.5vw, 2rem);
    letter-spacing: 0.25rem;
    font-weight: 500;
}

.main-body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.section-top,
.section-bottom {
    padding-top: 10%;
    display: flex;
    justify-content: center;
}

.section-top {
    flex-direction: row;
}

.section-bottom {
    flex-direction: column;
}

.project {
    display: flex;
    flex-direction: column;
}

.project-title {
    font-family: "Inter", sans-serif;
    font-size: clamp(1rem, 3rem + 0.25vw, 2rem);
    letter-spacing: 0.4rem;
    font-weight: 500;
}

.tags-list {
    display: flex;
    flex-direction: row;
    padding-top: 5%;
    gap: 0.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: clamp(0.25rem, 0.6rem + 0.3vw, 1rem);
}

.language-tag {
    padding: 1%;
    background-color: black;
    color: white;
}

.software-tag {
    padding: 1%;
    border: 2px solid black;
}

.img-container, 
.img-container-bottom {
    background-color: gray;
    border-radius: 25px;
    overflow: hidden;
}

.img-container {
    margin-left: auto;
    width: 50vw;
    height: auto;
}

.img-container-bottom {
    width: 47vw;
    min-height: 50vh;
}

.project-desc p,
.img-desc p {
    font-family: "Inter", sans-serif;
}

.project-desc p {
    max-width: 100ch;
}

.project-desc {
    padding-top: 50%;
    max-width: 60ch;
}

.img-holder {
    display: flex;
    flex-direction: row;
    gap: 3%;
}

.img-desc {
    padding-top: 2%;
}


iframe, img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.hyper-link {
    font-weight: 600;
    text-decoration: underline;
}

@media (max-width: 950px) {
    .section-top,
    .section-bottom {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .tags-list {
        justify-content: center;
    }

    .img-container, 
    .img-container-bottom {
        height: 40vh;
        width: 80vw;
        margin-left: 0;
    }

    .project-desc {
        padding-top: 5%;
    }

    .img-holder {
        flex-direction: column;
        gap: 2em;
    }
}